ul{

  list-style-type:none;
}

a{
  text-decoration: none;
}

main{
  display: grid;
  grid-template-columns: auto auto;
  
  margin-top: 10vh;
}

.top-nav{
  width: 100%;
  text-align: auto;
}

#left-column, #right-column{
  border: 3px solid;
}

#right-column{
  background-color: #201c24;
}


p{
  border: 3px solid;
}

header{
  position: fixed;
  background: darkgray;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.16666667;
}

#account-login{
margin-right: 1em;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  margin: 0;
  padding: 0;
}

header li{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
