:root{

  --background-color:#201c24;

  --hr-gradiant:-webkit-linear-gradient(right, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));

  --note-block-color:#282c34;

  --text-color:#ffff;

  --shadow:0 3px 30px rgb(255 255 255);
}

@media only screen and (max-width: 431px){

  #mender-fly{
    display: none;
  }

  .note{
    font-size: 4em;
  }

  #welcome-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}

body{
  margin: 0;
}


ul{

  list-style-type:none;
}

a{
  text-decoration: none;
}

main{
  display: grid;
  grid-template-columns: 10% 90%;
  color: var(--text-color);
  margin-top: 10vh;
}

.top-nav{
  width: 100%;
  text-align: auto;
}

#big-right-text-container{
  background-color: var(--background-color);
  box-shadow: var(--shadow); 
  padding-top: 2vh;
}

#welcome-img{
  display: block;
}

#HK-wiki_logo{
  margin-left: auto;
  margin-right: auto;
}

header{
  position: fixed;
  background:#404444;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.16666667;
}

#account-login{
margin-right: 1em;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  margin: 0;
  padding: 0;
}

header li{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

header span{
  color: #a0cbff;
}

#top-nav{
  display: grid;
  grid-template-columns:auto auto;
}

#top-nav li{
  display: inline-block;
  background-color: var(--background-color);
  padding: 1em;
}

#top-nav ul{
  padding:0;
  margin: 0;
  background-color: #ffff;
}

#right-navigation{
  display:flex;
  justify-content: flex-end;
}

#left-navigation{
  display:flex;
  justify-content: flex-start;
}

#note-block{
  background-color: var(--note-block-color);
  margin: 0 12px 12px 12px;
  padding: 16px 32px;
}

.note{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  text-align: center;
}

hr{
  height: 1px;  
  margin: 0;
  background:var(--hr-gradiant);  
  border: 0;
}

h1{
  margin: 0;
}