ul{

  list-style-type:none;
}

a{
  text-decoration: none;
}

main{
  display: grid;
  grid-template-columns: auto auto;
  
  margin-top: 10vh;
}

.top-nav{
  width: 100%;
  text-align: auto;
}

#left-column, #right-column{
  border: 3px solid;
}

#right-column{
  background-color: white;
}

header{
  position: fixed;
  background:#404444;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.16666667;
}

#account-login{
margin-right: 1em;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  margin: 0;
  padding: 0;
}

header li{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

header span{
  color: #a0cbff;
}

#top-nav{
  display: grid;
  grid-template-columns:auto auto;
}

#top-nav li{
  display: inline-block;
  border: solid black;
}

#top-nav ul{
  padding:0;
  margin: 0;
  border: solid black;
}

#right-navigation{
  display:flex;
  justify-content: flex-end;
}

#left-navigation{
  display:flex;
  justify-content: flex-start;
}

#note{
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  border: solid black;
}

#note p{
  text-align: center;
}
